{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}
<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
	<div class="container">
		<div class="dez-bnr-inr-entry">
			<h1 class="text-white">Contact Us</h1>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<ul class="list-inline">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Contact Us</li>
				</ul>
			</div>
			<!-- Breadcrumb row END -->
		</div>
	</div>
</div>
<!-- inner page banner END -->
<!-- contact area -->
<div class="section-full content-inner bg-white contact-style-1">
	<div class="container">
		<div class="row">
			<!-- right part start -->
			<div class="col-lg-6 col-md-6 d-lg-flex d-md-flex">
				<div class="p-a30 border-1  m-b30 contact-area border-1 align-self-stretch radius-sm">
					<h4 class="m-b10">Quick Contact</h4>
					<p>If you have any questions simply use the following contact details.</p>
					<ul class="no-margin">
						<li class="icon-bx-wraper left m-b30">
							<div class="icon-bx-xs border-1"> <a href="contact.html#" class="icon-cell"><i
										class="fa fa-map-marker"></i></a> </div>
							<div class="icon-content">
								<h6 class="text-uppercase m-tb0 dez-tilte">Address:</h6>
								<p>123 West Street, Melbourne Victoria 3000 Australia</p>
							</div>
						</li>
						<li class="icon-bx-wraper left  m-b30">
							<div class="icon-bx-xs border-1"> <a href="contact.html#" class="icon-cell"><i
										class="fa fa-envelope"></i></a> </div>
							<div class="icon-content">
								<h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
								<p>info@example.com</p>
							</div>
						</li>
						<li class="icon-bx-wraper left">
							<div class="icon-bx-xs border-1"> <a href="contact.html#" class="icon-cell"><i
										class="fa fa-phone-square"></i></a> </div>
							<div class="icon-content">
								<h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
								<p>+91 987 654 3210</p>
							</div>
						</li>
					</ul>
					<div class="m-t20">
						<ul class="dez-social-icon dez-social-icon-lg">
							<li><a target="_blank" href="https://www.facebook.com/"
									class="fab fa-facebook-f bg-primary"></a></li>
							<li><a target="_blank" href="https://twitter.com/" class="fab fa-twitter bg-primary"></a>
							</li>
							<li><a target="_blank" href="https://www.linkedin.com/"
									class="fab fa-linkedin-in bg-primary"></a></li>
							<li><a target="_blank" href="https://www.instagram.com/"
									class="fab fa-instagram bg-primary"></a></li>
							<li><a target="_blank" href="https://www.google.com/"
									class="fab fa-google-plus-g bg-primary"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- right part END -->
			<!-- Left part start -->
			<div class="col-lg-6 col-md-6">
				{% include 'includes/message_block.html' %}
				<div class="p-a30 m-b30 radius-sm bg-gray clearfix">
					<h4>Send Message Us</h4>
					<div class="dzFormMsg"></div>
					<form method="POST" class="dzForm"
						action="">
						{% csrf_token %}
						{{ form.as_p }}

						<div class="col-lg-12 d-flex justify-content-center">
							<button class="btn btn-primary btn-block" type="submit" value="Submit">
								<span>Submit</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contact area  END -->
{% endblock %}