{% extends 'base.html' %}
{% load static %}
{% block title %} List jobs {% endblock %}
{% block content %}
<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
	<div class="container">
		<div class="dez-bnr-inr-entry">
			<h1 class="text-white">Browse Jobs List</h1>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<ul class="list-inline">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li> List of jobs</li>
				</ul>
			</div>
			<!-- Breadcrumb row END -->
		</div>
	</div>
</div>
<!-- inner page banner END -->
<!-- Filters Search -->
<div class="section-full browse-job-find">
	<div class="container">
		<div class="find-job-bx">
			<form class="dezPlaceAni" method="GET" action="{% url 'job_search_results' %}">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="form-group">
							<label>Job Title, Keywords, or Phrase</label>
							<div class="input-group">
								<input type="text" class="form-control" name="keywords" placeholder="">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="form-group">
							<label>City, State or ZIP</label>
							<div class="input-group">
								<input type="text" class="form-control" name="location" placeholder="">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="form-group">
							<select name="job_area_name">
								<option>Select Sector</option>
								{% for area in job_areas %}
								<option>{{ area }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<button type="submit" class="site-button btn-block">Find Job</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Filters Search END -->
<!-- contact area -->
<div class="content-block">
	<!-- Browse Jobs -->
	<div class="section-full browse-job p-b50">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="job-bx-title clearfix">
						{% if jobs %}
						<h5 class="font-weight-700 float-start text-uppercase">{{ jobs.paginator.count }} Jobs Found
						</h5>
						{% else %}
						<h5 class="font-weight-700 float-start text-uppercase">No Jobs Found</h5>
						{% endif %}
						<div class="float-end">
							<span class="select-title">Sort by freshness</span>
							<select>
								<option>Last 2 Months</option>
								<option>Last Months</option>
								<option>Last Weeks</option>
								<option>Last 3 Days</option>
							</select>
						</div>
					</div>
					<ul class="post-job-bx">
						{% for job in jobs %}
						<li>
							<div class="post-bx">
								<div class="d-flex m-b30">
									<div class="job-post-company">
										<a href="javascript:void(0);"><span>
												<img alt="" src="{{ job.company.company_logo.url }}" />
											</span></a>
									</div>
									<div class="job-post-info">
										<h4><a href="{% url 'job_details' job.id %}">{{ job.title }} </a>
											<i>({{ job.area }})</i>
										</h4>
										<ul>
											<li>
												<i class="fas fa-map-marker-alt"></i>
												{{ job.location }}, {{ job.country}}
											</li>
											<li><i class="far fa-bookmark"></i> {{ job.job_type }}</li>
											<li><i class="far fa-clock"></i> Published: {{ job.posted_date|timesince }}
												ago</li>
										</ul>
									</div>
								</div>
								<div class="d-flex">
									<div class="job-time me-auto">
										<a href="javascript:void(0);"><span>{{ job.job_type }}</span></a>
									</div>
									<div class="salary-bx">
										<span>${{ job.salary_min }} - $ {{ job.salary_max }}</span>
									</div>
								</div>
								
								{% if user.is_authenticated %}
								{% if is_candidate %} 
								<form action="{% url 'save_job' job.id %}">
									<label class="like-btn">
										<button class="link-button-fa"> <i class="fa fa-heart" aria-hidden="true"></i></button>
									</label>
								</form>
								{% endif %}
								{% endif %}
							</div>
						</li>
						{% endfor %}
					</ul>

					{% if jobs.paginator.count > 0 %}
					<div class="pagination-bx style-1 m-t30">
						<ul class="pagination">
							{% if jobs.has_previous %}
							<li class="previous">
								<a href="?page={{ jobs.previous_page_number }}"><i class="fa fa-arrow-left"></i> Prev</a>
							</li>
							{% endif %}

							{% for page_num in jobs.paginator.page_range %}
							{% if jobs.number == page_num %}
							<li class="active">
								<a href="?page={{ page_num }}">{{ page_num }}</a>
							</li>
							{% else %}
							<li>
								<a href="?page={{ page_num }}">{{ page_num }}</a>
							</li>
							{% endif %}
							{% endfor %}

							{% if jobs.has_next %}
							<li class="next">
								<a href="?page={{ jobs.next_page_number }}">Next <i class="fa fa-arrow-right"></i></a>
							</li>
							{% endif %}
						</ul>
					</div>
					{% endif %}

				</div>
				<div class="col-xl-3 col-lg-4 col-md-5">
					<div class="sticky-top">
						<div class="candidates-are-sys m-b30">
							<div class="candidates-bx">
								<div class="testimonial-pic radius"><img
										src="{% static 'images/testimonials/pic3.jpg' %}" alt="" width="100"
										height="100"></div>
								<div class="testimonial-text">
									<p>I just got a job that I applied for via careerfy! I used the site all the time
										during my job hunt.</p>
								</div>
								<div class="testimonial-detail"> <strong class="testimonial-name">Richard
										Anderson</strong> <span class="testimonial-position">Nevada, USA</span> </div>
							</div>
						</div>

						<div class="row sidebar bg-white  clearfix">
							{% for company in companies %}
							<div class="col-sm-3 m-2">
								<a href="{% url 'jobs_by_company' company.company_name %}">
									<img src="{{ company.company_logo.url }}" alt="{{ company.company_name }}"
										style="width:50px; height:50px;">
								</a>
							</div>
							{% endfor %}
						</div>
						<div class="quote-bx mt-3">
							<div class="quote-info">
								<h4>Make a Difference with Your Online Resume!</h4>
								<p>Your resume in minutes with JobBoard resume assistant is ready!</p>
								<a href="register.html" class="site-button">Create an Account</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Browse Jobs END -->
</div>
{% endblock %}