{% extends 'base.html' %} {% load static %} {% block title %} Candidate Saved Jobs {% endblock %} {% block content %} <div class="content-block">
	<!-- Browse Jobs -->
	<div class="section-full bg-white p-t50 p-b20">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 m-b30">
					<div class="sticky-top">
						<div class="candidate-info">
							<div class="candidate-info"> 
								{% include 'includes/candidate_menu.html' %} 
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 m-b30">
					<div class="job-bx save-job table-job-bx clearfix">
						<div class="job-bx-title clearfix">
							<h5 class="font-weight-700 float-start text-uppercase">{{ savedJobs.paginator.count }} Saved Jobs</h5>
							<div class="float-end">
								<span class="select-title">Sort by freshness</span>
								<select>
									<option>Last 2 Months</option>
									<option>Last Months</option>
									<option>Last Weeks</option>
									<option>Last 3 Days</option>
								</select>
							</div>
						</div>

						{% if savedJobs.paginator.coun > 0 %}
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Premium jobs</th>
									<th>Company</th>
									<th>Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody> {% for job in savedJobs %} <tr>
									<td class="job-post-company">
										<a href="javascript:void(0);"><span>
												<img alt="" src="images/logo/icon2.png" />
											</span></a>
									</td>
									<td class="job-name"><a href="{% url 'job_details' job.id %}">{{ job.title }}</a></td>
									<td class="criterias text-primary"><a href="company-profile.html">@company-name</a></td>
									<td class="date">{{ job.posted_date }}</td>
									<td class="job-links">
										<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#savedJob{{ forloop.counter }}">
											<i class="fa fa-eye"></i></a>
										<a href="javascript:void(0);"><i class="ti-trash"></i></a>
									</td>
								</tr> {% endfor %} </tbody>
						</table>
						{% else %}
							<h5> No saved jobs yet</h5> 
						{% endif %}
						
						{% if savedJobs.paginator.count > 0 %} <div class="pagination-bx style-1 m-t30">
							<ul class="pagination"> {% if savedJobs.has_previous %} <li class="previous">
									<a href="?page={{ savedJobs.previous_page_number }}"><i class="fa fa-arrow-left"></i> Prev</a>
								</li> {% endif %} {% for page_num in savedJobs.paginator.page_range %} {% if savedJobs.number == page_num %} <li class="active">
									<a href="?page={{ page_num }}">{{ page_num }}</a>
								</li> {% else %} <li>
									<a href="?page={{ page_num }}">{{ page_num }}</a>
								</li> {% endif %} {% endfor %} {% if savedJobs.has_next %} <li class="next">
									<a href="?page={{ savedJobs.next_page_number }}">Next <i class="fa fa-arrow-right"></i></a>
								</li> {% endif %} </ul>
						</div> {% endif %}
					</div>
					<!-- Modal --> {% for job in savedJobs %} <div class="modal fade modal-bx-info" id="savedJob{{ forloop.counter }}" tabindex="-1" role="dialog"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="logo-img">
										<img alt="" src="images/logo/icon2.png">
									</div>
									<h5 class="modal-title">Company Name</h5>
									<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<ul>
										<li><strong>Job Title :</strong>
											<p>{{ job.title }} </p>
										</li>
										<li><strong>Experience :</strong>
											<p> {{ job.experience }} years</p>
										</li>
										<li><strong>Deseription :</strong>
											<p>{{ job.job_description|truncatewords:20 }}</p>
										</li>
									</ul>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div> {% endfor %} <!-- Modal End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Browse Jobs END -->
</div> {% endblock %}