{% extends 'base.html' %} 
{% load static %} {% block title %} Change Password {% endblock %} 
{% block content %} <div class="content-block">
	<!-- Browse Jobs -->
	<div class="section-full bg-white browse-job p-t50 p-b20">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 m-b30">
					<div class="sticky-top">
						<div class="candidate-info">  
							{% if is_candidate %}
							{% include 'includes/candidate_menu.html' %} 
							{% elif is_company %}
							{% include 'includes/company_menu.html' %} 
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 m-b30">
					<div class="job-bx job-profile">
						<div class="job-bx-title clearfix">
							<h5 class="font-weight-700 float-start text-uppercase">Change Password</h5>
							<a href="jobs-cv-manager.html" class="site-button right-arrow button-sm float-end">Back</a>
						</div>
						<form method="POST"> {% csrf_token %} 
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>Old Password</label>
										{{ form.old_password }}
										{% if form.old_password.errors %}
											<div>
												{{ form.old_password.errors.as_text }}
											</div>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>New Password </label>
										{{ form.new_password1 }}
										{% if form.new_password1.errors %}
											<div>
												{{ form.new_password1.errors.as_text }}
											</div>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Confirm New Password</label>
										{{ form.new_password2 }}
										{% if form.new_password2.errors %}
											<div>
												{{ form.new_password2.errors.as_text }}
											</div>
										{% endif %}
									</div>
								</div>
								<div class=" col-lg-12 m-b10">
										<button class="site-button" type="submit">Update Password</button>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Browse Jobs END -->
</div> {% endblock %}