<div class="candidate-detail text-center">
    <div class="img-rounded">
        <a href="javascript:void(0);">
            <img alt="" src="{{ candidate.user_profile.profile_image.url }}" style="width: auto;">
        </a>
        <div class="upload-link" title="update" data-bs-toggle="tooltip" data-placement="right">
            <input type="file" class="update-flie">
            <i class="fa fa-camera"></i>
        </div>
    </div>
    <div class="candidate-title">
        <div class="">
            <h4 class="m-b5">{{ candidate.full_name }}</h4>
            <p class="m-b0">{{ candidate.current_job_title }}</p>
        </div>
    </div>
</div>